
/*CSS comment*/
* {
	box-sizing: border-box;
}

html {
	font-size: 20px; 
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 35px;
	margin: 10px;
}

#content {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	color: black; 
}

/*Header with tabs*/
header {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100px;
	text-align: center;
}

.tabs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

.tabs>div {
	display: grid;
	border: 1px solid black;
	align-items: center;
}

/*Information*/
section {
	display: grid;
}

section > * {
	margin: 10px;
	justify-self: center;
}

/*Footer*/
footer {
	display: grid;
	border: 1px solid black;
}

